<h1>Bookmarks</h1>

{{#link-to 'bookmarks.index' (query-params category='news')}}News{{/link-to}}
{{#link-to 'bookmarks.index' (query-params category='sports')}}Sports{{/link-to}}
{{#link-to 'bookmarks.index' (query-params category='fun')}}Fun{{/link-to}}

<div>
  {{outlet}}
</div>

